From: 30 Days of python by Asabeneh (Day 10) <br>
Date: 24. Aug. 2020

<hr>**1.** Iterate 0 to 10 using for loop, do the same using while loop.

In [ ]:
# for loop:
for num in range(0, 11):
    print(num)

In [4]:
# using while loop:
count = 0
while count <= 10:
    print(count)
    count = count + 1

0
1
2
3
4
5
6
7
8
9
10

<hr> **3.** Iterate 10 to 0 using for loop, do the same using while loop.

In [21]:
# using for loop:
for num in range(10, -1, -1):
    print(num)

10
9
8
7
6
5
4
3
2
1
0

In [20]:
# while:
count = 10
while count >= 0:
    print(count)
    count = count - 1

10
9
8
7
6
5
4
3
2
1
0

<hr> **3.** Write a loop that makes seven calls to print(), so we get on the output the following triangle:

  \# <br>
  \## <br>
  \### <br>
  \#### <br>
  \##### <br>
  \###### <br>
  \####### <br>

In [27]:
total = 0
rows = range(1, 8)
for i in rows:
    total = '#' * i
    print(total, end = '\n')

#
##
###
####
#####
######
#######

In [47]:
# Python program to print right triangle number pattern:
rows = int(input("Please, enter the number of rows: "))
print('Right Triangle Pattern Of Numbers-')

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(i, end = " ")
    print(' ')

Right Triangle Pattern Of Numbers-
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

<hr>**4.** Use nested loops to create the following:

In [5]:
for i in range(1, 9):
    print("#" * 8)

########
########
########
########
########
########
########
########

<hr>**5.** Print the following pattern:<br>
0 x 0 = 0 <br>
1 x 1 = 1 <br>
2 x 2 = 4 <br>
3 x 3 = 9 <br>
4 x 4 = 16 <br>
5 x 5 = 25 <br>
6 x 6 = 36 <br>
7 x 7 = 49 <br>
8 x 8 = 64 <br>
9 x 9 = 81 <br>
10 x 10 = 100

In [11]:
for i in range(0, 11):
    print(f"{i} * {i} = {i * i}")

0 * 0 = 0
1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81
10 * 10 = 100

<hr> **6.** Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

In [12]:
python_libraries = ['Python', 'Numpy','Pandas','Django', 'Flask']
for library in python_libraries:
    print(library)

Python
Numpy
Pandas
Django
Flask

<hr>**7** Use for loop to iterate from 0 to 100 and print only even numbers.

In [13]:
for i in range(0, 101):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

<hr> **8.** Use for loop to iterate from 0 to 100 and print only odd numbers.

In [24]:
for i in range(0, 101):
    if not i % 2 == 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

,hr> **9.** Use for loop to iterate from 0 to 100 and print the sum of all numbers.

In [16]:
total = 0
for num in range(0, 101):
    total = total + num
    num = num + 1
print(f"The sum of all numbers from 0 to 100 is {total}.")

The sum of all numbers from 0 to 100 is 5050

<hr> **10.** Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.

In [31]:
even_total = 0
odd_total = 0
for i in range(0, 101):
    if i % 2 == 0:
        even_total = even_total + i
        i = i + 1
    elif i % 2 != 0:
        odd_total = odd_total + i
        i = i + 1
print(f"The sum of all evens is {even_total}. and the sum of all odds is {odd_total}.")

The sum of all evens is 2550. and the sum of all odds is 2500.

<hr> **11.** Go to the data folder and use the countries.py file. Loop through the countries and extract all the countries containing the word land.

In [39]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

for country_land in countries:
    index = country_land.find('land')
    if 'land' in country_land:
        print(f"{country_land[0 : index]}land")

Finland
Iceland
Ireland
Marshall Island
Netherland
New Zealand
Poland
Solomon Island
Swaziland
Switzerland
Thailand

<hr> **12.** This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.

In [57]:
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.reverse()
print(fruits)
# why should I use loop when I can do it more easily by reverse method?? -_-

['lemon', 'mango', 'orange', 'banana']